@keyframes example {
            from {
                background-color: lightblue;
            }
            to {
                background-color: steelblue;
            }
        }
.barChartContainer {
  display: block;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;

}


.barChart {
    font: 14px sans-serif;
    color: whitesmoke;
    background-color: steelblue;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    margin: 3px;
    color: white;
    animation-name: example;
    animation-duration: 2s;
    transition: width 2s;
    transition: color 2s;
}

#pie {
    fill: steelblue;
    transition: fill 250ms linear;
    transition-delay: 150ms;
}

.pieChartContainer {
  margin-top: 5%;
}

path:hover {
    fill: lightblue;
    transition-delay: 0;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#valLine {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.tick {
    font-family: sans-serif;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

#legContent {
    font-size: 2em;
    text-align: center;
    padding-top:5%;
    height: 80px;
    width: 250px;
    border-radius: 10px;
}

.svg-container {
    display: block;
    position: relative;
    width: 90%;
    padding: 2%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    margin: 15% auto;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.lineChartContainer {
    background-color: whitesmoke;

}

#bargraph {
    display: block;
    position: relative;
    width: 90%;
    padding: 2%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    margin: 15% auto;
}
